//$parallax-window-height: 50em;
//$parallax-background-height: $parallax-window-height * 2;

//.parallax-window {
//  height: $parallax-window-height;
//  overflow: hidden;
//  position: relative;
//  text-align: center;
//  width: 100%;
//}

//.parallax-static-content {
//  font-family: 'Courgette', cursive;
//  color: #ffffff;
//  padding: 8em 0;
//  position: relative;
//  z-index: 9;
//  font-size: 40px;
//  b {
//    font-weight: 400;
//    padding: 20px;
//  }
//}
//
//.parallax-background {
//  background: image-url("banner.jpg") repeat;
//  background-position: -300px -600px;
//  background-size: cover;
//  background-color: beige;
//  height: $parallax-window-height * 2;
//  position: absolute;
//  top: - $parallax-window-height / 3;
//  width: 100%;
//}

// Based on http://codepen.io/skeurentjes/
$parallax-window-height: 50em;
$parallax-body-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;
$parallax-body-background-height: $parallax-body-window-height * 2;

.parallax-window {
  min-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-body-window {
  max-height: $parallax-body-window-height;
  overflow: hidden;
  position: relative;
  font-weight: 600;
  text-align: center;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
}

.parallax-static-content {
  font-family: 'something', cursive;
  font-size: 7.0em;
  color: #fff;
  padding: 1.5em 0;
  position: relative;
  font-weight: 600;
  z-index: 9;

  span {
    font-size: .7em;
  }

  @media only screen and (max-width: 786px){
    font-size: 3.0em;
  }
}

.parallax-body-static-content {
  font-family: 'something', cursive;
  font-size: 6.5em;
  color: #fff;
  padding-bottom: 4em;
  padding-top: 1em;
  position: relative;
  z-index: 9;

  @media only screen and (max-width: 786px){
    font-size: 3.0em;
  }
}

.our-story-parallax-background {
  background: image-url("suit-and-dress.jpg") repeat;
  background-position: 0 0px;
  background-size: cover;
  background-color: beige;
  height: $parallax-body-background-height;
  left: 0;
  top: - $parallax-body-background-height / 3;
  position: absolute;
  width: 100%;
}

.st-anns-parallax-background {
  background: image-url("st-anns-large.JPG") repeat;
  background-position: 0 800px;
  background-size: cover;
  background-color: beige;
  height: $parallax-body-background-height;
  left: 0;
  top: - $parallax-body-background-height / 3;
  position: absolute;
  width: 100%;
}

.lighthouse-parallax-background {
  background: image-url("lighthouse-park-body.jpg") repeat;
  background-position: 0 800px;
  background-size: cover;
  background-color: beige;
  height: $parallax-body-background-height;
  left: 0;
  top: - $parallax-body-background-height / 3;
  position: absolute;
  width: 100%;
}

.parallax-background {
  background: image-url("banner.jpg") repeat;
  background-position: -300px -600px;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
