<%= render partial: "refills/parallax" %>
<br>
<div class="container">
  <div class="flash-notice">
    <p>
      For the hotel accommodations, please make your reservation ASAP. Hotel information:
    </p>
    <li>
      New Haven Hotel
    </li>
    <li>
      800-644-6835
    </li>
    <li>
      Room Block: "Pelletier/Power"
    </li>
    <br>
    <p>
      Thank you! - Meg and Chris
    </p>
  </div>
</div>
<%= render partial: "refills/cards" %>
<%= render partial: "refills/maps" %>
