<div class="container">
  <br>
  <%= render partial: "refills/the_venue" %>
  <br>
  <article class="type-system-serif">
    <p>
      In 1924 the City of New Haven purchased Lighthouse Point Park from the East Shore Amusement Company. City residents came to the park to enjoy swimming, ferry boat rides to Savin Rock, track meets, football games, field days and baseball leagues in the old grandstand/ballpark. The park, in the roaring 20’s, attracted legends Babe Ruth and Ty Cobb to Sunday afternoon games.
    </p>

    <p>
      The hurricane of 1938 ripped through the park, destroying many buildings and trees. In 1950 the City was able to make major improvements at the park including a new bathhouse, a first aid station and concession stands. A small amusement park was added and the beach was greatly improved.
    </p>

    <p>
      Today, the park attracts thousands to the public beach to enjoy the beauty of Long Island Sound. Devoted anglers take advantage of the fishing pier and a public boat launch that is available for leisure craft. Picnic tables dot the grounds, shaded by trees and pavilions. Kids can enjoy the playground and swings.
    </p>

    <div id="js-parallax-window" class="parallax-body-window">
      <div class="parallax-body-static-content">
        Lighthouse Point Park
      </div>
      <div id="js-parallax-background" class="lighthouse-parallax-background"></div>
    </div>

    <p>
      The park is one of the most popular spots for bird watching along the East Coast. Each fall and spring, thousands of song birds and birds of prey are seen in the migratory oasis along Morris Creek. In the fall, our park rangers and various ornithological groups conduct research and provide bird migration programs for park visitors.
    </p>

    <p>
      The New Haven Harbor lighthouse is also known as the Five Mile Point Light, because it sits on a point of land five miles from the New Haven Green.
    </p>

    <p>
      The history of the lighthouse began in 1804 when Amos Morris sold one acre to the U.S. Government for $100. On this site, the first lighthouse and keeper’s house were built of wood. In 140 work began to construct the 70 foot lighthouse, with sandstone quarried from East Haven and a solid brick interior. Its spiral granite staircase leads up to the lantern loft where the lighthouse lens was mounted. It was the keeper's duty to make sure the light was burning on all nights. By day he was to clean the lens, polish all brass, and fill the lamp with fuel. This lighthouse guided many ships into the harbor until 1877 when the Southwest Ledge light was built nearby on a Long Island Sound breakwater.
    </p>

    <p>
      In 1990, the lighthouse was placed on the National Register of Historic Places.
    </p>
  </article>
  <%= render partial: "refills/maps" %>
</div>
