<div class="container">
  <br>

  <%= render partial: "refills/the_ceremony" %>
  <br>
  <hr>
  <article class="type-system-serfi" style="text-align:center;">
    <h1>
      Ceremony Information
    </h1>
    <h2>
      1:30pm at St. Ann's Church <br>
      481 Brewster St <br>
      Bridgeport, CT 06605
    </h2>
  </article>
  <hr>
  <br>
  <article class="type-system-serif">
    <p>
      St. Ann Parish is a Roman Catholic church in Bridgeport, Connecticut, part of the Diocese of Bridgeport.
    </p>
    <p>
      Located in the historic Black Rock section of Bridgeport, this church dates from the 1940s and was designed by noted architect J. Gerald Phelan who designed the main campus of Fairfield University along with many other churches, schools, convents and rectories for Catholic clients in Connecticut and elsewhere.
    </p>
    <p>
      St. Ann's church holds a special place in the hearts of the Pelletier family. Many generations grew up attending mass, and school, at the St. Ann's facilities.
    </p>
  </article>
</div>

<div id="js-parallax-window" class="parallax-body-window">
  <div class="parallax-body-static-content">
    St. Ann's Church
  </div>
  <div id="js-parallax-background" class="st-anns-parallax-background"></div>
</div>

<div class="container">
  <article class="type-system-serif">
    <h3>A general guide for catholic wedding ceremonies:</h3>
    <br />
    <h2>
      Introductory Rites
    </h2>
    <p>
      Catholic weddings begin with an opening prayer by the priest, naming the couple and asking for God's blessings on their wedding day.
    </p>

    <h2>
      Liturgy Of The Word
    </h2>
    <p>
      The readers (often family members) read Biblical passages selected by you and preapproved by the priest, followed by a short sermon about marriage given by the priest.
    </p>

    <h2>
      Rite Of Marriage
    </h2>
    <p>
      The entire congregation stands as the couple takes their vows, declaring their commitment to each other. Actual vows vary between churches, but the basic wording is: "I (groom's/bride's name), take you (bride's/groom's name) to be my wife/husband. I promise to be true to you in good times, in sickness and in health. I will love and honor you all the days of my life." The priest then blesses the couple, joins their hands together, and asks, "Do you take (bride's/groom's name) as your lawful wife/husband, to have and to hold, from this day forward, for better or for worse, for richer or for poorer, in sickness and in health, to love and cherish until death do you part?"
    </p>

    <h2>
      Exchange Of Rings
    </h2>
    <p>
      After the couple (hopefully) responds, "I do," to the vows, the best man gives the bride's ring to the priest, who blesses it and hands it to the groom to place on the bride's finger. Then, the maid of honor hands the groom's ring to the priest, who blesses it and hands it to the bride to place on the groom's finger. Each may say, "I take this ring as a sign of my love and faithfulness in the name of the Father, the Son, and the Holy Spirit."
    </p>

    <h2>
      Mass Or No Mass
    </h2>
    <p>
      If the ceremony takes place without a Mass, the ceremony concludes with nuptial blessings and a final prayer from the priest. He then tells the congregation, "Go in peace with Christ," to which they respond, "Thanks be to God." If the ceremony includes Mass (which adds only 15 minutes to the service), the priest asks for the "sign of peace," in which everyone shakes hands with their neighbors. Holy Communion follows. Finally, the priest recites a concluding prayer and nuptial blessing asking for strength and protection for the couple.
    </p>

    <h2>
      Offertory
    </h2>
    <p>
      In some Catholic weddings, the bride places flowers on the shrine of the Blessed Virgin Mary as musicians play "Ave Maria." This rite can be done either before the processional or after the recessional.
    </p>
  </article>
</div>
