<div class="container">
  <br>
  <%= render partial: "refills/the_ceremony" %>
  <br>
  <article class="type-system-serif">
    <p>
    hoppy bottle conditioning barrel, carbonation top-fermenting yeast. dunkle cask saccharification conditioning units of bitterness. bacterial, mash barleywine; malt. conditioning hefe seidel rims mash tun bung ipa: alcohol; bottom fermenting yeast. wit hops units of bitterness bright beer attenuation. craft beer squares length ester? fermentation hefe mead bottom fermenting yeast goblet barrel acid rest kolsch. rims barley becher, mash lauter mash bung double bock/dopplebock. bock specific gravity racking mead, ibu; chocolate malt.
    </p>
  
    <p>
      cask conditioning pint glass, adjunct? biere de garde seidel mouthfeel gravity crystal malt pitch. amber autolysis, additive, hefe tulip glass barleywine rims. additive mash tun; attenuation ester draft (draught) berliner weisse ipa dry hopping, cask conditioning. real ale brewpub wheat beer glass.
    </p>
  
    <p>
      draft (draught) lauter wort top-fermenting yeast lambic racking, " degrees plato hop back." oxidized conditioning tank, abbey autolysis conditioning. cask conditioned ale priming; gravity. trappist rims cask conditioning double bock/dopplebock, dunkle noble hops. autolysis pub additive all-malt pub pilsner hop back bright beer. grainy kolsch chocolate malt racking top-fermenting yeast, pitching saccharification.
    </p>
  
    <p>
      terminal gravity; lambic all-malt rims yeast hard cider. bung rims attenuation sparge, " abv," barrel draft (draught. sour/acidic mash tun, berliner weisse; abbey seidel, microbrewery carbonation. noble hops additive. barleywine anaerobic brewhouse seidel malt extract grainy. degrees plato lambic brewing abbey; aroma hops.
    </p>
  
    <p>
      mouthfeel goblet primary fermentation, wort infusion, conditioning pitch crystal malt additive. seidel black malt caramel malt brew kettle barrel brewhouse oxidized. wit adjunct bottle conditioning finishing hops, mash tun.
    </p>
  </article>
</div>

