/*
*= require_self
*= require font-awesome
*/

@font-face {
  font-family: "something";
  src: font_url("30AA24_0_0.ttf") format("truetype");
}

@import "bourbon/bourbon";
@import "neat/neat";
@import "refills/type-system-serif";
@import "base/base";
@import "refills/refills";
@import "refills/side-image";
@import "refills/flashes";

.nav-link {
  .logo {
    img {
      max-height: 100px;
    }
  }
}

.container {
  @include outer-container();
  ul.registry-logos {
    width: 50%;
    margin: auto;

    li {
      max-width: 500px;
      border-bottom: 1px solid black;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}

article {
  @include row();
}

.flash-notice {
  li {
    list-style: none;
  }
}
