<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>The New Haven Hotel (Preferred)</h1>
      <p>The New Haven Hotel offers the perfect location and the finest guest accommodations for your visit to Downtown New Haven and Yale University. Our new guest rooms are the most luxurious, well appointed, and technologically advanced in New Haven.</p>
      <p>
        Guest rooms feature a refined contemporary décor, with custom furniture, top-of-the-line Sealy mattresses, and duvets with high thread count sheets.
      </p>
      <p>
        This is the preferred hotel to stay, as this is where we have the block of rooms for the wedding. This is also the location for the shuttle pickup.
      </p>
      <p>
      <strong>To Book:</strong>
      <br/>
        Call: 800-644-6835
        <br>
        Use the POWER or PELLETIER wedding block for 6/11/16!
      </p>
  </div>
</div>
<br>

<div class="side-image">
  <div class="images-wrapper-omni"></div>
    <div class="side-image-content">
      <h1>The Omni Hotel</h1>
      <p>
      The newly renovated Omni New Haven Hotel at Yale surrounds you with luxurious comfort and unparalleled service. The hotel is located in downtown New Haven, just steps from the historic campus of Yale University, the New Haven Town Green, a wide selection of museums, the Shubert Theater and boutique shopping.
      </p>
      <p>
      This hotel is located only a block away from the New Haven Hotel; however, we do not have a room block set up here. You can book here if you want a change of pace.
      </p>
      <p>
      <strong>To Book:</strong>
      <br/>
      Call: (203) 772-6664
      <br>
      We do not have a wedding block here.
      </p>
  </div>
</div>
<br>
