<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>The New Haven Hotel, New Haven</h1>
      <p>The New Haven Hotel offers the perfect location and the finest guest accommodations for your visit to Downtown New Haven and Yale University. Our new guest rooms are the most luxurious, well appointed, and technologically advanced in New Haven.</p>
      <p>
        Guest rooms feature a refined contemporary décor, with custom furniture, top-of-the-line Sealy mattresses, and duvets with high thread count sheets.
      </p>
      <p>
        This is the preferred hotel to stay, as this is where we have the block of rooms for the wedding. This is also the location for the shuttle pickup.
      </p>
      <p>
      <strong>To Book:</strong>
      <br>
        Call: 800-644-6835
        Book your room in the POWER or PELLETIER wedidng block for 6/11/16!
      </p>
  </div>
</div>
<br>

<div class="side-image">
  <div class="images-wrapper-omni"></div>
    <div class="side-image-content">
      <h1>The Omni Hotel, New Haven</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
  </div>
</div>
<br>

<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h1>Message with a gradient image</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
  </div>
</div>
