<%= javascript_include_tag "wedding_experience/gallery" %>

<div id="lineDrawing" style="display:none;">
  <%= render partial: "logo_again" %>
</div>
<div class='container'>
  <h1 class='fading'>THIS IS SOMETHING</h1>
  <h1 class='someshow'>SHOW</h1>
  <p class='sometext'>This is some text I want to show eventually</p>
</div>

