<!DOCTYPE html>
<html>
<head>
  <title>Our Wedding Experience</title>
  <%= stylesheet_link_tag    'wedding-experience', media: 'all'%>
  <%= javascript_include_tag 'anime.min' %>
  <%= javascript_include_tag 'wedding_experience' %>
</head>
<body>
  <%= yield %>
</body>
</html>

